<!DOCTYPE html>
<html>
<head>
	<title>Edit Profile</title>
</head>
<body>
<% if flash[:errors]
	flash[:errors].each do |e|%>
	<h4><%=e%></h4>
	<%end
end%>
	<h1>Edit Profile</h1>
	<form method="post" action="/users/<%=session[:user_id]%>">
		<input type="hidden" name="_method" value="patch">
		<input type="hidden" name="user_id" value="<%=session[:user_id]%>">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<label>Name: <input type="text" name="name" value="<%=@user[:name]%>"></label>
		<label>Email: <input type="text" name="email" value="<%=@user[:email]%>"></label>
		<input type="submit" value="Update">
	</form>
	<h3>Delete Account</h3>
	<form method="post" action="/users/<%=session[:user_id]%>">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete Account">
	</form>
</body>
</html>